*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* landing/start page styles */

.landing-page--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
  letter-spacing: .7px;
  color: #293264;
}

.landing-page--container > h1 {
  font-size: 2.5rem;
}

.landing-page--container > p {
  font-size: 1.6rem;
}


/* questions styles */

.questions--container{
  display: flex;
  flex-direction: column;
  color: #293264;
  text-align: left;
  padding: 3em 6em;
  z-index: 2;
}

.question {
  margin-top: 1em;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label {
  background-color: green;
}

.form--btn {
  margin: 0 auto;
}

/* utilities */

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2em;
  padding: .9em 2.5em;
  border-radius: 15px;
}

.btn-filled {
  background-color: #4D5B9E;
  border: none;
}

.btn-clear {
  padding-top: .2em;
  padding-bottom: .2em;
  margin-bottom: 2em;
  margin-right: 1.5em;
  font-size: .8rem;
  background-color: transparent;
  color: inherit;
  border: 1px solid #293264;
}

.btn-selected {
  border: 3px solid yellowgreen;
  background-color: red;
}

